.grid-conteiner{
	display: grid;
	grid-template-rows: 30px;
	grid-template-columns: repeat(4, minmax(min-content,max-content));
	grid-auto-rows: 30px;
	text-align: center;
}
.grid-conteiner .grid-item{
	margin-left: 23;
}
.grid-conteiner p{
	margin: 10px;
	font-size: 20px;
}
.grid-conteiner h4{
	font-size: 21px;
	font-weight: 900;
}
.title{
	font-weight: 900;
	font-size: 19px;
}